<div class="bg-slate-700">
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '30rem' }" header="Cadastro de Pedidos" (visibleChange)="changeVisible()">
        <span class="p-text-secondary block mb-10">Pedido</span>
        <div class="flex items-center gap-4 mb-4 ">
            <label for="description" class="font-semibold w-24">Descrição</label>
            <input
                [(ngModel)]="order.description"
                pInputText
                id="description" 
                class="flex-auto border-4" 
                autocomplete="off" 
            />
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="client" class="font-semibold w-24">Cliente</label>
            <p-select 
                optionLabel="name"
                placeholder=""
                [(ngModel)]="order.client" 
                [options]="clientsOptions" 
                class="flex-auto border-4"
            />
        </div>
        <div class="mb-8">
            <label class="font-semibold w-24 block mb-2">Hambúrgueres</label>
            <div *ngFor="let hamburger of hamburgersFields; let i = index" class="flex items-center gap-4 mb-2">
                <p-select
                    optionLabel="description" 
                    placeholder="Nome do Hambúrguer"
                    [(ngModel)]="order.hamburgers[i]" 
                    [options]="hamburgersOptions" 
                    class="flex-auto border-4"
                >
                </p-select>
                <input type="number" [(ngModel)]="order.hamburgers[i]!.quantity" placeholder="Qtd" class="w-24 text-center border-4" />
                <button type="button" pButton icon="pi pi-trash" (click)="removeHamburger(i)" severity="danger" class="p-button-sm"></button>
            </div>
            <button type="button" pButton icon="pi pi-plus" label="Adicionar" (click)="addHamburger()" severity="secondary" class="mt-2"></button>
        </div>

        <!-- Bebidas -->
        <div class="mb-8">
            <label class="font-semibold w-24 block mb-2">Bebidas</label>
            <div *ngFor="let drink of drinksFields; let i = index" class="flex items-center gap-4 mb-2">
                <p-select
                    optionLabel="description"
                    [options]="drinksOptions" 
                    [(ngModel)]="order.drinks[i]" 
                    placeholder="Nome da Bebida" 
                    class="flex-auto border-4"
                >
                </p-select>
                <input type="number" [(ngModel)]="order.drinks[i].quantity" placeholder="Qtd" class="w-24 text-center border-4" />
                <button type="button" pButton icon="pi pi-trash" (click)="removeDrink(i)" severity="danger" class="p-button-sm"></button>
            </div>
            <button type="button" pButton icon="pi pi-plus" label="Adicionar" (click)="addDrink()" severity="secondary" class="mt-2"></button>
        </div>
        <div *ngFor="let observation of observationsFields; let i = index" class="flex items-center gap-4 mb-2">
            <label for="observations" class="font-semibold w-24">Observações</label>
            <input
                [(ngModel)]="order.observations[i]"
                pInputText
                id="observations" 
                class="flex-auto border-4" 
                autocomplete="off" 
            />              
            <button type="button" pButton icon="pi pi-trash" (click)="removeObservation(i)" severity="danger" class="p-button-sm"></button>
        </div>
            <button type="button" pButton icon="pi pi-plus" label="Adicionar" (click)="addObservation()" severity="secondary" class="mt-2"></button>
        <div class="flex items-center gap-4 mb-8">
            <label class="font-semibold w-24">Data</label>
            <p-date-picker [(ngModel)]="order.orderDate" [showTime]="true" [hourFormat]="hourFormatter" dateFormat="dd.mm.yy" />
        </div>
        <ng-template #footer>
            <p-button label="Cancel" [text]="true" severity="secondary" (click)="changeVisible()" />
            <p-button label="Save" [outlined]="true" severity="secondary" (click)="save()" />
        </ng-template>
    </p-dialog>
</div>
<p-toast />