<div class="flex flex-col w-full h-full bg-sky-900 border-r-4 border-sky-950">
    <div class="flex items-center justify-between px-6 pt-4 shrink-0">
        <span class="inline-flex items-center gap-2">
            <span class="font-semibold text-2xl text-primary">Lanchonete Legal</span>
        </span>
        <!-- <span>
            <p-button type="button" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-8 w-8"></p-button>
        </span> -->
    </div>
    <div class="overflow-y-auto">
        <ul class="list-none p-4 m-0">
            <li>
                <ul class="list-none p-0 m-0 overflow-hidden">
                    <app-side-bar-link pageName="Home" path="/home" />
                    <app-side-bar-link pageName="Pedidos" path="/pedidos" />
                    <app-side-bar-link pageName="Hamburgueres" path="/hamburgueres" />
                    <app-side-bar-link pageName="Bebidas" path="/bebidas" />
                    <app-side-bar-link pageName="Ingredientes" path="/ingredientes" />
                    <app-side-bar-link pageName="Clientes" path="/clientes" />
                </ul>                
            </li>
        </ul>
    </div>
</div>
