<div class="card flex justify-center">
    <p-dialog [header]="title" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (visibleChange)="changeVisible()">
        <ng-container *ngFor="let field of fields">
            <div class="p-2">
                <label>{{ field.labelContent }}</label>
                <p>{{ field.content }}</p>
                <ng-container *ngIf="field.quantity">
                    <p>Quantidade: {{ field.quantity }}</p>
                </ng-container>
            </div>
        </ng-container>
    </p-dialog>
</div>